<div class="x">
    <h1> Counter </h1>
    <span class="y">
        <h1><b><%= @number %></b></h1>
    </span>
    <section>
        <button type="button" class ="button" phx-click="dec">-</button> 
        <button type="button" class ="button" phx-click="clear">Clear</button> 
        <button type="button" class ="button" phx-click="inc">+</button> 
    </section>
</div>
